<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADDCourse</servlet-name>
        <servlet-class>ADDCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAttendanceServlet</servlet-name>
        <servlet-class>AllAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attandance</servlet-name>
        <servlet-class>Attandance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact1</servlet-name>
        <servlet-class>Contact1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crt_account</servlet-name>
        <servlet-class>Crt_account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dltServlet</servlet-name>
        <servlet-class>dltServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCoursesServlet</servlet-name>
        <servlet-class>GetCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADDCourse</servlet-name>
        <url-pattern>/ADDCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAttendanceServlet</servlet-name>
        <url-pattern>/AllAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attandance</servlet-name>
        <url-pattern>/Attandance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crt_account</servlet-name>
        <url-pattern>/Crt_account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dltServlet</servlet-name>
        <url-pattern>/dltServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCoursesServlet</servlet-name>
        <url-pattern>/GetCoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
